@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 231 48% 10%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 231 48% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 231 48% 30%;
    --accent: 45 100% 51%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 45 100% 51%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 100% 51%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 231 48% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 20%;
    --sidebar-ring: 45 100% 51%;
  }
  .dark {
    --background: 231 48% 10%;
    --foreground: 0 0% 98%;
    --card: 231 48% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 231 48% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 48% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 100% 51%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 20%;
    --input: 231 48% 20%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 45 100% 51%;
    --chart-3: 210 40% 15%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 231 48% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 100% 51%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 231 48% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 15%;
    --sidebar-ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
